@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #260312; */
  background: #ffffff;
}

.animated-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #4b0ddabd;
  box-shadow: 0px 0px 19px 20px #4b0ddabd;
  border: none;
  opacity: 0.8;
  /* -webkit-animation: slide-left 2s ease-in infinite alternate-reverse both; */
  animation: slide-left 30s ease-in infinite both;
}

.animated-circle::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #5f1ceead;
  box-shadow: 0px 0px 19px 20px #5f1ceead;
  border: none;
  opacity: 0.7;
  animation: slide-right 30s ease-in infinite both;
}



.animated-circle-landing-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: #d946a359;
  box-shadow: 0px 0px 20px 20px #ec60a8c2;
  border: none;
  opacity: 0.8;
  /* -webkit-animation: slide-left 2s ease-in infinite alternate-reverse both; */
  /* animation: slide-left 30s ease-in infinite both; */
  filter: blur(59px);

}

.animated-circle-landing-page::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  top: 60%;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: #5f1cee7a;
  box-shadow: 0px 0px 19px 20px #5f1ceead;
  border: none;
  opacity: 0.8;
  filter: blur(59px);

  /* animation: slide-right 30s ease-in infinite both; */
}
.animated-circle-landing-page-Enhanceddual::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  border-radius: 100%;
  background: #5f1ceead;
  box-shadow: 0px 0px 20px 20px #ec60a8ba;
  border: none;
  opacity: 0.8;
  /* -webkit-animation: slide-left 2s ease-in infinite alternate-reverse both; */
  /* animation: slide-left 30s ease-in infinite both; */
  filter: blur(59px);

}

.animated-circle-landing-page-Enhanceddual::after {
  content: '';
  position: absolute;
  top: 80%;
  right: 0%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: #d946a382;
  box-shadow: 0px 0px 19px 20px #5f1ceead;
  border: none;
  opacity: 0.8;
  filter: blur(59px);

  /* animation: slide-right 30s ease-in infinite both; */
}
.animated-circle-landing-page-multichain::before {
  content: '';
  position: absolute;
  top: 80%;
  left: 30%;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  border-radius: 100%;
  background: #d946a382;
  box-shadow: 0px 0px 20px 20px #ec60a8ba;
  border: none;
  opacity: 0.8;
  /* -webkit-animation: slide-left 2s ease-in infinite alternate-reverse both; */
  /* animation: slide-left 30s ease-in infinite both; */
  filter: blur(59px);

}


.animated-circle-landing-page-theonlywallet::before {
  content: '';
  position: absolute;
  right: 0%;
  left: 5%;
  bottom: 90%;
  width: 300px;
  height: 300px;
  
  border-radius: 100%;
  background: #d946a382;
  box-shadow: 0px 0px 19px 20px #5f1ceead;
  border: none;
  opacity: 0.8;
  filter: blur(59px);

  /* animation: slide-right 30s ease-in infinite both; */
}
.animated-circle-landing-page-theonlywallet::after {
  content: '';
  position: absolute;
  top: 70%;
  right: 0%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: #5f1ceead;
  box-shadow: 0px 0px 19px 20px #5f1ceead;
  border: none;
  opacity: 0.8;
  filter: blur(59px);

  /* animation: slide-right 30s ease-in infinite both; */
}


.card-shadow{
  box-shadow: 3px 5px 13px 1px #80808094;
}

.header-container {
  box-shadow: 0px 0px 15px rgba(10, 2, 19, 0.5) inset;
  border-radius: 15px;
}

.bg-gradient {
  background: linear-gradient(113deg, #3c096c69 44%, #e2cdf42e 130%);
}

.search-box {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 1.5rem;
}

.search-box input {
  background-color: transparent;
  border: none;
  outline: none;
}

.compose-btn {
  background: linear-gradient(134deg, #c599eb94 0%, #e2cdf499 100%);
  box-shadow: 0px 0px 20px rgba(10, 2, 19, 0.5);
  border-radius: 15px;
}

.ql-container {
  border: none !important;
  border-top: 1px solid #ffffff !important;
}



#style-4::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  background: #66656594;
}

#style-4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(118 55 214 / var(--tw-bg-opacity));}

/* .quill > .ql-container > .ql-editor.ql-blank::before{
  font-size: 20px;
  color: red;
} */

.ant-dropdown-menu-light {
  background-color: #ffffff !important;
  border: 1px solid white;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-11-11 13:21:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
/* @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
} */
@keyframes slide-left {
  0% {
    top: 0%;
    left: 0%;
  }

  /* 25% {
            top: 10%;
            left: 20%;
  } */
  50% {
    top: 42%;
    left: 70%;
  }

  100% {
    top: 0%;
    left: 0%;
  }
}


@keyframes slide-right {
  0% {
    top: 42%;
    left: 70%;
  }

  25% {
    top: 0%;
    left: 0%;
    background: #13e2a7b4;
    box-shadow: 0px 0px 19px 20px #13e2a7b4;
    opacity: 0.4;
  }

  50% {
    top: 42%;
    left: 0%;
    background: #13e2a7b4;
    box-shadow: 0px 0px 19px 20px #13e2a7b4;
    opacity: 0.8;
  }

  100% {
    top: 42%;
    left: 70%;
  }
}